Project/01 영상편집 도우미 in python/영상1.mp4
Project/01 영상편집 도우미 in python/영상2.mp4
Project/01 영상편집 도우미 in python/영상3.mp4
Project/01 영상편집 도우미 in python/video77.mp4
Project/01 영상편집 도우미 in python/video_14155_.mp3
Project/01 영상편집 도우미 in python/video_14155_.mp4
Project/01 영상편집 도우미 in python/OutPut
Project/01 영상편집 도우미 in python/video_14155_.wav
